
/*GENERAL*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

body{
    width: 100vw;
    height: 100vh;
    color: #86898b;  
}

.bt-white{
    color: #fff;
    font-size: 10px;
}

.pd{
    padding: 15px;
}

h2{
    margin: 20px 0;
}

/*CONTAINER*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*SECTION 1*/

.sec-1{
    width: 20%;
    background-color: aquamarine;
    display: inline-block;
}

/*SECTION 2*/

main{
    overflow: scroll;
}

.sec-2{
    width: 80%;
    background-color: blanchedalmond;
    float: right;
}

.banner{
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    width: 200px;
    height: 40px;
    margin-right: 10px;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 20px;
}

/*NAV*/

.nav{
    display: flex;
    justify-content: center;
}

.nav li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

/*PLAYED*/

.line{
    display: flex;
    flex-direction: row;
}

.cover{
    text-align: center;
    margin: auto;
}

.line .cover img{
    width: 180px; 
}

.nono{
    margin:10px;
}








footer{
    position: relative;
    margin-bottom: 0;
    
    height: 100px;
    width: 100vw;
    
    background-color: cadetblue;
   

    
}